# Binaries for programs and plugins
*.o
*.a
*.exe
*.exe~
*.dll
*.so
*.dylib
*-meta.json
*.txt
*.crt
*.key
.DS_Store

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Special folders
gitignore/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?